* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Nexa Bold";
    src: url("../fonts/NexaBold.otf");
}

@font-face {
    font-family: "Nexa Light";
    src: url("../fonts/NexaLight.otf");
}

body {
    margin: 0;
}

header a {
    text-decoration: none;
    color: #46CD7A;
    font-family: "Nexa Bold";
    display: inline;
}

header a svg * {
    transition: 0.2s;
}

header a:hover svg * {
    fill: #2E0799;
    transition: 0.2s;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    padding: 0.5em 0em 0em 0.5em;
    z-index: +1;
}

header > a,
h1 {
    display: flex;
    height: auto;
}

header h1 {
    margin-top: 0.15em;
    font-size: 1.3em;
}

header h2 {
    display: flex;
    margin-left: -5.3em;
    padding-top: 0.6em;
    flex-wrap: wrap;
    font-size: 1.1em;
}

header > a img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.5em;
}

nav a {
    color: #46CD7A;
    font-family: Nexa Light;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    color: #2E0799;
    transition: 0.2s;
}

nav div {
    font-size: 0.6em;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0.3em;
}

nav svg {
    width: 1.6em;
    height: 1.5em;
}

nav li {
    text-align: center;
    padding: 0em 0.6em;
}

main > img {
    width: 100%;
}

body > section {
    position: relative;
    width: 100%;
    justify-content: space-around;
}

body > section:after {
    background: url(../images/boek2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 18%;
    content: "";
    height: 20em;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    min-width: 100%;
    z-index: -1;
    margin-top: 4em;
}

[type="search"] {
    margin-top: 4em;
    width: 100%;
    border: 2px solid #B5C1CB;
    border-radius: 0.7em 0em 0em 0.7em;
    color: #B3B6B7;
    font-family: Nexa Light;
    font-size: 0.9em;
    padding: 0.6em;
    max-width: 50em;
}

section [type="submit"] {
    margin-top: 3.6em;
    background-color: #46CD7A;
    border: 2px solid #B5C1CB;
    padding: 0.5em 0.8em;
    border-radius: 0em 0.5em 0.5em 0em;
    color: white;
    font-size: 1em;
    font-family: "Nexa Bold";
}

section section {
    padding: 4em 4em 0em;
}

section section > form {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

section section button {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FF2A6A;
    border-radius: 0.5em;
    border: 1px solid #FF2A6A;
    color: white;
    font-family: Nexa Bold;
    font-size: 1.2em;
    padding: 0.4em 0em;
    margin: 0 auto 1rem;
}

section section button p {
    font-family: Nexa light;
    font-size: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.dropdowns {
    display: flex;
    justify-content: space-between;
    max-width: 40em;
    margin: 0 auto;
    padding-top: 3em;
}

.hidden {
    display: none;
}

fieldset {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0.5em;
    min-width: 11em;
    padding: 0;
    margin: 0;
}

section > div fieldset.active {
    background-color: white;
    border: 2px solid #B5C1CB;
    border-radius: 0.5em;
    min-width: 11em;
    width: 30%;
    padding: 0;
    margin: 0;
}

legend {
    border: 2px solid #B5C1CB;
    background-color: white;
    color: #46CD7A;
    font-size: 1em;
    font-family: Nexa Bold;
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    min-width: 11em;
    width: 30%;

}

fieldset img {
    width: 0.8em;
}

fieldset button {
    background-color: #46CD7A;
    border: 1px solid #46CD7A;
    color: white;
    font-family: Nexa Bold;
    font-size: 0.85em;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em 0em 0em 0em;
}

section > div fieldset label {
    color: #46CD7A;
    font-family: Nexa Light;
    font-size: 0.9em;
    margin-bottom: 0.2em;
    cursor: pointer;
    padding: 0.15em;
    display: flex;
}

#aanmelden {
    background-color: #46CD7A;
}

#aanmelden main {
    padding-bottom: 1.5em;
    padding-top: 2em;
    margin: 0 0.5em;
}

#aanmelden main section:first-of-type {
    max-width: 30em;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border-radius: 1em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 6em;
}

#aanmelden main section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    display: flex;
    background-color: #F1F4F6;
    border-radius: 1em;
    margin: auto;
    max-width: 30em;
}

#aanmelden main input:not([type=submit]):valid {
    border: 2.2px solid #46CD7A;
    background-color: #E4F9E9;
}

#aanmelden main fieldset:valid {
    background-color: #C7F2D2;
    border-radius: 1em;
    transition: 1s;
    padding: 1em;
}

#aanmelden main input:not([type=submit]):focus {
    transform: scale(1.04);
    outline: none;
    border: 2.5px solid #2E0880;
    transition: 0.2s;
}

#aanmelden main h2 {
    margin-top: 0em;
    color: #2E0880;
    font-family: Nexa Bold;
    text-align: center;
    padding-top: 0.8em;
}

#aanmelden main label {
    display: flex;
    flex-direction: column;
    font-family: Nexa Bold;
    font-size: 1em;
    width: 100%;
}

#aanmelden main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#aanmelden main fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    transition: 0.2s;
    padding: 0 0.8em;
}

[type="email"],
[type="password"],
[type="text"] {
    border: 1.5px solid #AAB6C0;
    border-radius: 0.6em;
    padding: 0.5em 0.3em;
    font-family: Nexa Light;
    font-size: 1.05em;
    margin: 0.5em 0em;
    color: gray;
    width: 100%;
}

#aanmelden main section a {
    font-family: Nexa Light;
    font-size: 0.9em;
    color: #2E0880;
    margin-bottom: 0.4em;
}

#aanmelden main [type="submit"] {
    border: none;
    background-color: #FF2A6A;
    color: white;
    border-radius: 1em;
    padding: 0.5em 3em;
    font-size: 1.2em;
    font-family: Nexa Bold;
    margin: 0em;
    margin: 1em 0em;
}

#aanmelden main section > p {
    text-align: center;
    font-family: Nexa Light;
    font-size: 0.9em;
    color: #2E0880;
    margin-bottom: -1em;
}

#aanmelden main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    box-sizing: content-box;
    border: 1px solid #CCCCCC;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    color: #606060;
    font-family: Nexa Light;
    width: 18em;
}

article > img {
    display: flex;
    width: 100%;
    border-radius: 1em 1em 0 0;
    height: 10em;
    object-fit: cover;
    object-position: top;
}

article h1 {
    font-family: Nexa Bold;
    color: #2E0880;
    margin: 0.5em 0 0.12em 0;
    font-size: 1.5em;
}

article footer {
    display: flex;
    justify-content: space-between;
}

article footer img {
    width: 1.3em;
    height: 1.3em;
}

article footer > img {
    margin: 0em 0em 0em 1.5em;
}

article footer p {
    font-size: 1em;
    margin-top: 0.2em;
}

article > p {
    margin: 0em 0em 1em;
}

article a:first-of-type {
    text-decoration: none;
    font-family: Nexa Bold;
    color: #2E0880;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0em 0.4em 0em 0.6em;
}

article > div > img {
    width: 3.3em;
    height: 2.8em;
    background-color: #FF2A6A;
    padding: 0.5em 0.6em;
    border-radius: 0.5em;
}

article div p {
    color: white;
    font-family: Nexa Bold;
    font-size: 0.6em;
    padding-top: 0.5em;
    margin: 0em;
}

article div > a {
    background-color: #46CD7A;
    border-radius: 0.5em;
    color: white;
    font-family: Nexa Bold;
    text-decoration: none;
    padding: 0.em;
    margin-top: 0em;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

article a > img {
    width: 1.3em;
}

article div {
    display: flex;
    justify-content: space-between;
}

main > button {
    border: 0px;
    font-family: Nexa Light;
    font-size: 1em;
    margin: 1em;
}

main > button img {
    width: 2.5em;
}

main > button p {
    margin: 0em;
}

@media (min-width: 48em) {
    #aanmelden main {
        display: flex;
        justify-content: center;
        height: 40em;
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 5em;
    }

    #aanmelden main section:first-of-type {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        margin: 0em;
        min-width: 20em;
        max-width: 30em;
        border-radius: 1em 0em 0em 1em;
        width: 100%;
        padding-top: 0.95em;
    }

    #aanmelden main section:nth-of-type(2) [type="submit"] {
        margin-top: 2em;
    }

    #aanmelden main section:first-of-type a {
        margin-top: 2em;
    }

    #aanmelden main section:first-of-type form,
    #aanmelden main section:nth-of-type(2) form {
        padding-top: 2em;
        width: 100%;
        padding: 0 0.6em;
    }

    #aanmelden main [type="email"],
    #aanmelden main [type="password"],
    #aanmelden main [type="text"] {
        width: 100%;
    }

    #aanmelden main section:nth-of-type(2) {
        align-items: flex-start;
        justify-content: center;
        margin: 0em;
        min-width: 20em;
        max-width: 30em;
        width: 100%;
        border-radius: 0em 1em 1em 0em;
    }

    #aanmelden main h2 {
        text-align: left;
        padding-left: 0.6em;
    }

    #aanmelden main p {
        margin-top: -1.7em;
        text-align: left;
        padding-left: 0.9em;
    }

    #aanmelden main section:first-of-type h2 {
        padding-top: 1.8em;
    }
}





@media (min-width: 30em) {
    section > div {
        padding: 4em;
    }
}

@media (max-width: 26.5em) {
    header nav li {
        margin: 0 0.35em;
        padding: 0em;
    }
}

@media (max-width: 27em) {
    header nav ul {
        padding: 0em;
    }
}

@media (min-width: 20em) {
    header {
        display: flex;
    }

    header h1,
    header h2 {
        display: none;
    }

    section section {
        padding: 4em 1em 0em;
    }

    section button {
        width: 60%;
    }

    legend,
    section > div fieldset.active,
    fieldset {
        width: 100%;
        min-width: 6.7em;
    }

    legend {
        width: 100%;
        min-width: 6.7em;
        font-size: 0.9em;
    }
}

@media (min-width: 24.2em) {
    header h1,
    header h2 {
        display: flex;
    }
}


@media (min-width: 32em) {
    section button {
        width: 100%;
        max-width: 15em;
    }
}

@media (min-width: 32em) {
    [type=search] {
        max-width: 28.5em;
    }
}

@media (min-width: 50em) {
    [type=search] {
        max-width: 50em;
    }
}

@media (min-width: 50.1em) {
    [type=search] {
        width: 100%;
    }
}

@media (min-width: 50em) {
    section section {
        margin: 0 9em;
    }
}

@media (min-width: 20em) {}

@media (min-width: 80em) {
    main section {
        max-width: 80em;
        margin: auto;
    }
}

#verhaal {
    background-color: #13313B;
    transition: 0.5s;
}

@keyframes sprankel {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

#verhaal main {
    position: relative;
    z-index: -1;
}

#verhaal main div {
    position: absolute;
    top: 0;
}

#verhaal main > img:first-of-type {
    animation: infinite;
    animation-duration: 4s;
    animation-name: sprankel;
}

#verhaal main div img {
    width: 100%;
    margin-top: 90em;
}

#verhaal main div {
    height: 500vh;
}

#verhaal main div img {
    position: sticky;
    top: 0;
}

/*SLIDER BIJ TELEFOON*/
